.Logo
  column(4)
  margin-top 1em
  text-align center
  color white
  text-decoration none

.Logo-Title
.Logo-Bars
  display inline-block

.Logo-Bars
  margin-right .8em

.Logo-Title
  font-size 2em
  font-weight 300

.Logo-Slogan
  margin-top .2em
