.Navbar
  column(8)
  margin-top 2em
  padding-right 2em
  text-align right
  box-sizing border-box

.Navbar-Link
  display inline-block
  margin 0 .8em
  a
    display inline-block
    padding .5em .7em
    font-weight 500
    color white
    text-decoration none
    border-radius 4px
    &:hover
    &.active
      background black
