//- _header.jade
header
  a(href="").Logo
    img.Logo-Bars(src=imgPath + "logo.png")
    h1 Motion
    .Logo-Slogan Asingle Page Template
    
  nav.Navbar
    ul
      li
        a.active(href="") Home
        a(href="") About
        a(href="") Team
        a(href="") Portfolio
        a(href="") Other
        a(href="") Contact
