//- _header.jade
header
  a(href="").Logo
    img.Logo-Bars(src=imgPath + "logo.png")
    span.Logo-Title Motion
    .Logo-Slogan Asingle Page Template
    
  nav.Navbar
    ul
      li.Navbar-Link: a.active(href="") Home
      li.Navbar-Link: a(href="") About
      li.Navbar-Link: a(href="") Team
      li.Navbar-Link: a(href="") Portfolio
      li.Navbar-Link: a(href="") Other
      li.Navbar-Link: a(href="") Contact
