//- _head.jade
head
  title= pageTitle
  meta(http-equiv="content-type", content="text/html; charset=UTF-8")
  meta(name="description", content="Motion - Responsive Website")
  meta(name="keywords", content="Motion, responsive")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,900,300', rel='stylesheet', type='text/css')

  link(rel="stylesheet", href="style.min.css")
