@media screen and (max-width: 970px)
  //Header
  header
    height auto

  .Logo
  .Navbar
    column(12)

  .Logo
    margin-top 1em
    
  .Navbar
    margin-top 1em
    margin-bottom 1em
    text-align center
